body {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

#loading {
    font-size: 20px;
    margin-top: 50px;
}

.calendar-container {
    max-width: 900px;
    margin: 20px auto;
}

.calendar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.calendar-caption {
    margin: 20px 0;
    font-size: 15px;
    font-weight: 700;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 15px;
    font-size: 13px;
    overflow: hidden; /* はみ出た内容を非表示 */
}

.calendar th {
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
}

.calendar td.date-cell:hover:not(.selected) {
    background-color: #dbf8fe;
}

.calendar td.selected {
    background-color: #2bb48bc0;
    color: white;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

.navigation-button {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    margin: 0 10px;
}

.holiday-title {
    display: block;
    font-size: 12px;
    color: red;
}

.holiday {
    color: red;
}

.holiday.selected {
    color: white;
}

/* 既存のスタイルはそのままに、以下を追加または修正 */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* 画面の高さいっぱいに広げる */
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

